<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>minha página EJS</h1>
    <a href="/"><button>Tela de cadastro</button></a>
    
    <ul>
        <% for(var i=0; i<myVar_html.length; i++) {%>
            <li>
                Nome: <%= myVar_html[i].nome %>
                Idade: <%= myVar_html[i].idade %>
                Email: <%= myVar_html[i].email %>
                <button onclick="teste()">Deletar</button>
            </li>
            <br>
        <% } %>
    </ul>
    <% if(condicao == true) { %>
        <h3 id="meuh3">This h3 tag will be displayed</h3>
       <% } else { %>
        <p> This p tag will be displayed condicao : <%= condicao %></p>
    <% } %>

</script>
</body>
</html>

